<header class="z-[999] relative">
  <div
    class="w-full border border-round-md top-0 h-[4.5rem] mt-2 flex justify-between bg-gray-50 backdrop-blur-md rounded-lg"
  >
    <!-- Section at the start -->
    <section class="relative left-[3rem] w-[5.25rem] flex items-center">
      <img ngSrc="/assets/stonks.png" width="120" height="120" />
    </section>

    <!-- Navigation remains in the center -->
    <nav
      class="absolute left-1/2 transform -translate-x-1/2 py-2 top-[0.15rem] sm:top-[1.7rem] sm:py-0"
    >
      <ul
        class="flex w-[22rem] flex-wrap items-center justify-center text-[0.9rem] font-medium text-gray-500 sm:w-[initial] sm:flex-nowrap sm:gap-5"
      >
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>

    <!-- Section at the end -->
    <section
      class="relative top-0 mr-[2.5rem] pt-2 flex flex-row justify-between"
    >
      <p-button label="Log out" [link]="true"> </p-button>
      <p class="ml-4">avatar icon maybe ?</p>
    </section>
  </div>
</header>
