<div class="p-3 bg-transparent">
  <header
    class="z-999 max-w-fit bg-white/70 backdrop-blur-sm shadow-md border rounded-full mx-auto"
  >
    <nav class="flex items-center justify-center md:px-8 p-2">
      <ul class="flex flex-wrap items-center justify-center gap-3">
        @for (link of Links; track $index) {
          <li class="flex items-center">
            <a
              class="text-gray-700 cursor-pointer transition-all duration-300 hover:bg-slate-500 hover:text-white border border-transparent rounded-full px-2 py-1"
              [class.active]="isActive(link.route)"
              (click)="navigate(link.route)"
            >
              {{ link.name }}
            </a>
          </li>
        }
      </ul>
    </nav>
  </header>
</div>

<!-- <header
  class="z-50 w-1/2 bg-white/70 backdrop-blur-sm shadow-md border rounded-full mx-auto mt-5"
>
  <nav class="flex items-center justify-center px-4 py-2 md:px-8">
    <ul
      class="flex flex-wrap items-center justify-center space-x-4 md:space-x-8"
    >
      @for (link of Links; track $index) {
        <li class="flex items-center space-x-2 p-2">
          <a
            class="text-gray-700 cursor-pointer transition-all duration-300 hover:bg-slate-500 hover:text-white border border-transparent rounded-full px-2 py-1"
            (click)="navigate(link.link)"
          >
            {{ link.name }}
          </a>
        </li>
      }
    </ul>
  </nav>
</header> -->

<!-- <header
  class="z-50 w-1/2 bg-white/70 backdrop-blur-sm shadow-md border rounded-full mx-auto mt-5"
>
  <nav class="flex items-center justify-center px-4 py-2 md:px-8">
    <ul
      class="flex flex-wrap items-center justify-center space-x-4 md:space-x-8"
    >
      <li class="flex items-center space-x-2 p-2">
        <a
          class="text-gray-700 cursor-pointer transition-all duration-300 hover:bg-slate-500 hover:text-white border border-transparent rounded-full px-2 py-1"
          (click)="onHome()"
          >Home</a
        >
      </li>
      <li class="flex items-center space-x-2">
        <a
          class="text-gray-700 w-full cursor-pointer transition-all duration-300 hover:bg-slate-500 hover:text-white px-2 py-1"
          (click)="onDashboard()"
          >Dashboard</a
        >
      </li>
      <li class="flex items-center space-x-2">
        <a
          class="text-gray-700 cursor-pointer transition-all duration-300 hover:bg-slate-500 hover:text-white hover:border hover:rounded-full px-2 py-1 hover:text-cyan-400"
          (click)="onLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header> -->

<!-- <div class="flex justify-between items-center h-16 w-16 bg-gray-800 text-white">
  <div class="flex space-x-4">
    <a href="#" class="flex items-center">
      <i class="pi pi-home"></i>
    </a>
    <a href="#" class="flex items-center">
      <i class="pi pi-user"></i>
    </a>
    <a href="#" class="flex items-center">
      <i class="pi pi-cog"></i>
    </a>
    <a href="#" class="flex items-center">
      <i class="pi pi-bell"></i>
    </a>
  </div>
</div> -->

<!-- 
<li>
  <p-button
    label="Log out"
    [link]="true"
    [rounded]="true"
    [raised]="true"
    size="small"
    severity="info"
    (click)="onLogout()"
  >
  </p-button>
</li>
<li>
  <p-button
    label="Home"
    link="true"
    size="small"
    severity="info"
    (click)="onHome()"
  >
  </p-button>
</li>
<li><a fragment="#assets">press </a></li> -->
