@defer (on timer(2s)) {
  <div class="p-5 mt-8">
    @if (portfolio$ | async; as portfolio) {
      <!-- Main Container for Portfolio -->
      <div class="flex flex-col font-bold">
        <!-- Portfolio Name and Total Value -->
        <!-- <h1 class="text-gray-400 font-semibold text-xl">{{ portfolio.name }} 🚀</h1> -->
        <h1 class="text-3xl pb-3 pt-5">{{ portfolio.portfolioName | titlecase }}</h1>
        <div class="flex flex-row justify-between flex-wrap gap-3">
          @if (portfolio.assets.length > 0) {
            <div class="flex flex-wrap gap-3">
              <div class="p-3 bg-gray-200 rounded-md shadow-md">
                <p class="text-gray-600">Current Balance</p>
                <p class="text-2xl font-extrabold">
                  {{ portfolio.totalValue | currency }}
                </p>
                <p class="text-green-400 font-medium text-lg">
                  <!-- +1215478 (24h prices change) 📈 -->
                </p>
              </div>
              <div>
                <div class="flex items-center gap-3">
                  <div
                    header="Profit/Loss"
                    class="flex flex-col p-3 bg-gray-200 rounded-md shadow-md gap-3"
                  >
                    <h1>Profit/Loss</h1>
                    @if (portfolio.totalProfitAndLossAmount > 0) {
                      <span class="text-green-700 text-lg font-bold">
                        +{{ portfolio.totalProfitAndLossAmount | currency }} 💸
                      </span>
                    } @else if (portfolio.totalProfitAndLossAmount < 0) {
                      <span class="text-red-700 text-lg font-bold">
                        {{ portfolio.totalProfitAndLossAmount | currency }} 🩸
                      </span>
                    } @else if (portfolio.totalProfitAndLossAmount === 0) {
                      <span class="text-grey-900 text-lg">
                        {{ portfolio.totalProfitAndLossAmount | currency }}
                      </span>
                    }
                  </div>
                </div>
              </div>

              <div
                header="Number of Assets held"
                class="flex flex-col text-wrap gap-3 p-3 bg-gray-200 rounded-md shadow-md"
              >
                <h1>Number of Assets held</h1>
                <p class="text-center">{{ portfolio.assets.length }}</p>
              </div>
            </div>
          }

          <!-- Action Buttons -->
          <div class="flex flex-row items-center justify-center">
            <div class="flex flex-wrap gap-3">
              <!-- Add Transaction Button -->
              <p-button
                (click)="showDialog()"
                icon="pi pi-spin  pi-bitcoin"
                label="Add Transaction"
                iconPos="right"
                [raised]="true"
              ></p-button>

              <!-- Add Transaction Dialog -->
              <p-dialog [(visible)]="visible" [modal]="true" closable="true">
                <ng-template pTemplate="headless">
                  <div
                    class="bg-white overflow-auto border-black border rounded-md sm:w-[35rem] w-full"
                  >
                    <div class="flex justify-end">
                      <button
                        (click)="visible = !visible"
                        class="p-2 m-1 text-xl font-semibold"
                      >
                        x
                      </button>
                    </div>

                    <app-wizard (complete)="hideDialog()"></app-wizard>
                  </div>
                </ng-template>
              </p-dialog>
            </div>

            <!-- Options Button -->
            <div>
              <menu-actions
                (complete)="hideDialog()"
                [portfolioId]="portfolio.id"
              ></menu-actions>
            </div>
          </div>
        </div>
      </div>

      <div></div>

      <!--  Charts  -->
      <div class="flex justify-start  gap-10 pt-5 flex-wrap">
        @if (portfolio.assets.length > 0) {
          <div class="p-3 lg:w-6/12 bg-gray-200 rounded-md shadow-md">
            <app-line-chart></app-line-chart>
          </div>

          <div class="flex flex-col space-y-16">
            <div class="bg-gray-200 rounded-md shadow-md p-3 h-fit">
              <app-pie-chart></app-pie-chart>
            </div>
            <div class="bg-gray-200 rounded-md shadow-md p-3 h-fit w-full">
              <bar-chart></bar-chart>
            </div>
          </div>
        }

        <div class="">
          <!-- If Theres no assets so the no asset layout -->
          <!-- Portfolio Summary Cards -->
          @if (portfolio.assets.length > 0) {
            <div class="flex  gap-5 items-stretch">
              @if (portfolioStats$ | async; as stats) {
                <p-card header="Top performer">
                  <img
                    ngSrc="https://s2.coinmarketcap.com/static/img/coins/32x32/{{
                      stats.topPerformerCoinId
                    }}.png"
                    width="32"
                    height="32"
                    priority="true"
                    class="mr-2"
                  />
                  <p class="m-0">{{ stats.topPerformerName | titlecase }}</p>
                  <p class="m-0">{{ stats.topPerformerSymbol | titlecase }}</p>
                  <p class="m-0">
                    Value changes {{ stats.topPerformerValueChange | number }}
                  </p>
                  <p class="m-0">
                    Percent change {{ stats.topPerformerPercentChange }}
                  </p>
                </p-card>

                <p-card header="Worst performer">
                  <img
                    ngSrc="https://s2.coinmarketcap.com/static/img/coins/32x32/{{
                      stats.worstPerformerCoinId
                    }}.png"
                    width="32"
                    height="32"
                    priority="true"
                    class="mr-2"
                  />
                  <p class="m-0">{{ stats.worstPerformerName | titlecase }}</p>
                  <p class="m-0">
                    {{ stats.worstPerformerSymbol | titlecase }}
                  </p>
                  <p class="m-0">
                    "Value changes"
                    {{ stats.worstPerformerValueChange | number }}
                  </p>
                  <p class="m-0">
                    "Percent change " {{ stats.worstPerformerPercentChange }}
                  </p>
                </p-card>
              }
            </div>
          } @else {
            <!-- No Assets Placeholder -->
            <div class="flex flex-col items-center justify-center space-y-5">
              <img
                ngSrc="/assets/no-assets-portfolio.png"
                width="240"
                height="240"
                priority="true"
              />
              <h1 class="text-3xl font-bold text-gray-950">
                This portfolio needs some final touches…
              </h1>
              <h2 class="text-lg font-semibold text-gray-500">
                Add a coin to get started
              </h2>
              <p-button
                (click)="showDialog()"
                icon="pi pi-spin pi-bitcoin"
                label="Add Transaction"
                iconPos="right"
                [raised]="true"
              ></p-button>
            </div>
          }
        </div>
      </div>

      @if (portfolio.assets.length > 0) {
        <!-- Assets Table -->
        <section id="assets" class="p-3 mt-3 border border-black rounded-md">
          <h2 class="font-bold text-3xl text-gray-950">Assets</h2>
          <app-assets-table (complete)="hideDialog()"> </app-assets-table>
        </section>
      }
    }
  </div>
} @placeholder {
  <div class="p-4 flex flex-col gap-5 mt-[7.25rem]">
    <!-- Header Skeleton -->
    <div class="flex flex-col gap-2">
      <p-skeleton width="40%" height="2rem"></p-skeleton>
      <p-skeleton width="30%" height="1.5rem"></p-skeleton>
    </div>

    <!-- Stats Skeleton (3 square cards) -->
    <div class="flex flex-row gap-5 justify-between">
      <p-skeleton
        width="30%"
        height="100px"
        styleClass="rounded-md"
      ></p-skeleton>
      <p-skeleton
        width="30%"
        height="100px"
        styleClass="rounded-md"
      ></p-skeleton>
      <p-skeleton
        width="30%"
        height="100px"
        styleClass="rounded-md"
      ></p-skeleton>
    </div>

    <!-- Main Chart Skeleton -->
    <p-skeleton
      width="100%"
      height="300px"
      styleClass="rounded-md"
    ></p-skeleton>
  </div>
}
