<div class="flex flex-col items-start justify-center p-3">
  <div class="my-[2rem]">
    <p-button
      label="back"
      [link]="true"
      icon=" pi pi-arrow-left"
      text="true"
      [raised]="true"
      (click)="onBack()"
    >
    </p-button>
  </div>

  @if (transactionPageData$ | async; as tp) {

    <div class="flex flex-row items-center gap-3">
      <img
        ngSrc="https://s2.coinmarketcap.com/static/img/coins/32x32/{{
          tp?.coinId
        }}.png"
        width="32"
        height="32"
        class=""
      />
      <h2 class="text-2xl font-semibold">{{ tp?.name }}</h2>
    </div>
    <div>
      <h1 class="text-4xl text-gray-900 font-extrabold pt-3">
        {{ tp?.totalValue | currency }}
      </h1>
    </div>


    <div class="flex flex-row justify-normal items-start flex-wrap pt-3 gap-3">

      <p-card header="Total Quantity" class="rounded-md shadow-md ">
        <span class="text-gray-950 font-bold text-2xl">{{
          tp?.totalQuantity
        }}</span>
      </p-card>

      <p-card header="Avg buy Price" class="rounded-md shadow-md ">
        <span class="text-gray-950 font-bold text-2xl">{{
          tp?.avgBuyPrice | currency
        }}</span>
      </p-card>

      
        <p-card header="P/L" class="rounded-md shadow-md ">
          @if (tp?.totalProfitAndLossAmount! > 0) {
            <span class="text-green-800 font-bold text-2xl text-center">{{
              tp?.totalProfitAndLossAmount | currency
            }}</span>
          } @else if (tp?.totalProfitAndLossAmount! < 0) {
            <span class="text-red-800 font-bold text-2xl text-center">{{
              tp?.totalProfitAndLossAmount | currency
            }}</span>
          } @else {
            <span class="text-grey-900 text-lg text-center">
              {{ tp?.totalProfitAndLossAmount }}</span
            >
          }
        </p-card>
      
    </div>

    <div class="mt-[2rem] w-full">
      <h1 class="text-3xl text-gray-950 font-bold">Transactions:</h1>

      <p-table
        styleClass="p-datatable-striped p-datatable-sm "
        class="w-full"
        [value]="tp.transactions"
      >
        <ng-template pTemplate="header">
          <tr class="space-x-5">
            <th>Type</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-transactions>
          <tr>
            <td>
              <div class="flex flex-col">
                <span>{{ transactions.action }} </span>
                <span>{{ transactions.timestamp | date }}</span>
              </div>
            </td>

            <td>{{ transactions.price | currency }}</td>
            <td>{{ transactions.transactionAmount }}</td>

            <td>
              <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
              <p-button
                [raised]="true"
                [rounded]="true"
                [text]="true"
                [outlined]="true"
                size="small"
                icon="pi pi-ellipsis-v"
                (click)="handleMenuClick(transactions, $event)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog
        [(visible)]="visible"
        [modal]="true"
        [closable]="true"
        [style]="{ overflow: 'auto' }"
        class="w-full sm:w-[50rem] overflow-auto"
      >
        <ng-template pTemplate="headless">
          <div
            class="bg-white sm:w-[30rem] w-full border border-black rounded-lg p-10"
          >
            <app-edit-transaction-form
              [transactionId]="transactionId"
              [assetId]="assetId"
              (completed)="onCompletion($event)"
            >
            </app-edit-transaction-form>
          </div>
        </ng-template>
      </p-dialog>
    </div>
  }

  <div class="flex items-center justify-center">
    <p-toast />
    <p-confirmDialog
      [breakpoints]="{ '0px': '100vw' }"
      [style]="{ width: 'auto' }"
    >
    </p-confirmDialog>
  </div>
</div>
