<section class="flex flex-row items-center justify-center w-full h-[20rem]">
  <select
    class="w-[6rem] h-[4rem] text-center border rounded-full text-md text-gray-800 bg-gray-100 hover:bg-gray-950 hover:text-white"
  >
    <option class="" value="default">Select</option>
    @for (option of options; track option) {
      <option [value]="option" (click)="onClick()">
        {{ option.symbol.toUpperCase() }}
      </option>
    }
  </select>
  <p class="text-sm text-gray-800">
    {{ optionValue }}
  </p>

  <button class="bg-blue-700" (click)="onClick()">log out</button>
</section>
