<div class="flex flex-col md:flex-row h-screen">
  <!-- Left Section -->
  <div class="relative w-full h-screen md:flex-grow overflow-hidden bg-black">
    <!-- Background Video -->
    <video
      #videoPlayer
      class="absolute top-0 left-0 min-w-full min-h-full w-auto h-auto object-cover opacity-40"
      [src]="videoSource"
      autoplay
      loop
      muted
      playsinline
    ></video>

    <!-- Content Overlay -->
    <div
      class="relative z-10 flex flex-col justify-center items-start h-full p-4 md:p-8"
    >
      <div class="max-w-xl md:max-w-2xl">
        <ngx-typed-writer
          class="text-6xl sm:text-5xl md:text-7xl lg:text-5xl text-white mb-2 md:mb-4 font-medium italic"
          [strings]="sentencies"
          [typeSpeed]="50"
          [backSpeed]="40"
          [showCursor]="true"
          cursorChar="|"
          loop="true"
        >
        </ngx-typed-writer>

        <!-- <h1
          class="text-3xl sm:text-6xl md:text-7xl lg:text-9xl text-white mb-2 md:mb-4 font-medium"
        >
          The <span class="text-sky-400 font-bold">world</span> Is In Your
          <span class="text-sky-400 font-bold">Hands</span>
        </h1>
        <h3
          class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl text-gray-300 mb-2"
        >
          Discover the potential
        </h3>
        <p class="text-sm md:text-base opacity-75 text-gray-400 mb-4">
          <span class="text-red-600">Beta version</span>
        </p> -->
      </div>
    </div>
  </div>

  <!-- Vertical Separator (hidden on small screens) -->
  <div class="hidden md:block w-px bg-gray-900 h-full"></div>

  <!-- Right Section -->
  <div
    class="flex flex-col justify-center items-center bg-gray-900 p-4 w-full md:w-1/4"
  >
    <!-- Conditional Buttons -->
    @if (!isLoggedIn) {
      <div class="space-y-4 w-full max-w-xs">
        <button
          (click)="onAccess()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        >
          Log In
        </button>
        <button
          (click)="onAccess()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        >
          Sign Up
        </button>
      </div>
    } @else {
      <div class="space-y-4 w-full max-w-xs">
        <button
          (click)="onAccess()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        >
          Access App
        </button>
      </div>
    }

    <!-- Footer Section -->
    <footer class="mt-6 text-center text-gray-400 text-sm">
      <p>
        Track your crypto portfolio and make data-driven decisions effortlessly.
      </p>
      <p>
        Need help? Contact us at
        <a
          href="mailto:support@cryptotracker.com"
          class="text-blue-400 hover:underline"
          >support&#64;cryptotracker.com</a
        >.
      </p>
      <p>&copy; 2024 CryptoTracker. All rights reserved.</p>
    </footer>
  </div>
</div>
