<p-sidebar [(visible)]="sidebarVisible" appendTo="body">
  <ng-template pTemplate="header">
    <img ngSrc="/assets/stonks.png" width="80" height="80" />
    <span class="font-bold text-lg text-blue-400 px-5"> Swappy </span>
  </ng-template>
  <p-divider />
  <ng-template pTemplate="content">
    <div class="flex flex-col items-stretch">
      <p-button class="block !w-full" label="Home" [link]="true"> </p-button>
      <p-button label="Log out" [link]="true"> </p-button>
      <p-button label="Assets" [link]="true"> </p-button>
      <p-button label="Portfolio" [link]="true"> </p-button>
      <p-button label="Settings" [link]="true"> </p-button>
      <p-button label="Help" [link]="true"> </p-button>
      <p-button label="About" [link]="true"> </p-button>
      <a class="w-full text-center">Pp</a>
    </div>
  </ng-template>
  <p>Lorem ipsum dolor sit amet...</p>
</p-sidebar>
<p-button
  (click)="sidebarVisible = true"
  icon="pi pi-ellipsis-h"
  [link]="true"
  raised="true"
/>
