<app-header></app-header>

<button
  type="button"
  class="bg-blue-500 border rounded-full"
  (click)="hasPortfolio = !hasPortfolio"
>
  change hasPortfolio ?
</button>

@if (hasPortfolio) {
  <section
    class="relative mt-[3rem] w-full flex flex-row justify-center flex-wrap"
  >
    <app-card title="test" content="200$"></app-card>

    <app-card title="test" content="200$"></app-card>

    <app-card title="test" content="200$"></app-card>

    <app-card title="test" content="200$"></app-card>
  </section>

  <div class="w-full flex flex-col border border-black mt-5 rounded-md">
    <h2 class="">New entry</h2>
    <form
      [formGroup]="investForm"
      (ngSubmit)="onSubmit()"
      class="w-full flex flex-row justify-center items-center flex-wrap"
    >
      <div class="field p-fluid mt-4 mb-4 mx-[2.24rem]">
        <label for="date" class="block text-gray-600 font-medium mb-2">
          Purchase Date
        </label>
        <p-calendar
          formControlName="date"
          placeholder="Pick a date"
          dateFormat="dd.mm.yy"
          [showIcon]="true"
          class="small-calendar"
        >
          ></p-calendar
        >
      </div>
      <p-divider
        layout="vertical"
        class="mt-[2.25rem] hidden sm:block"
      ></p-divider>

      <div class="field p-fluid mt-4 mb-4 mx-[2.24rem]">
        <label for="assetName" class="block text-gray-600 font-medium mb-2"
          >Asset name</label
        >
        <input
          type="text"
          id="assetName"
          placeholder="Asset name"
          class="w-[10rem] px-3 py-2 leading-tight text-gray-700 bg-white focus:bg-gray-50 hover:bg-gray-50 border border-gray-400 focus:border-gray-800 rounded-md shadow-md focus:outline-none focus:shadow-outline transtion-all"
          formControlName="name"
        />
      </div>
      <p-divider
        layout="vertical"
        class="mt-[2.25rem] hidden sm:block"
      ></p-divider>

      <div class="mt-4 mb-4 mx-[2.24rem] w-[10rem]">
        <label for="amount" class="block text-gray-600 font-medium mb-2"
          >Amount</label
        >
        <p-inputNumber
          id="amount"
          formControlName="amount"
          inputId="integeronly"
          class="w-full"
        ></p-inputNumber>
      </div>
      <p-divider
        layout="vertical"
        class="mt-[2.25rem] hidden sm:block"
      ></p-divider>
      <div class="mt-4 mb-4 mx-[2.24rem] w-[10rem]">
        <label for="purchaseAmount" class="block text-gray-600 font-medium mb-2"
          >Purchase Amount $</label
        >

        <p-inputNumber
          id="purchaseAmount"
          formControlName="purchasingAmount"
          inputId="currency-us"
          mode="currency"
          currency="USD"
          locale="en-US"
          class="w-full"
        ></p-inputNumber>
      </div>
      <div class="mt-[1rem] mb-4 mx-[2.24rem] w-[10rem]">
        <label for="action" class="block text-gray-600 font-medium mb-2"
          >Action</label
        >
        <p-dropdown
          id="action"
          formControlName="action"
          [options]="stateOptions"
          optionValue="value"
          optionLabel="label"
          placeholder="Select"
          (click)="printNumber(this.investForm.get('action')?.value)"
          class="w-full"
        ></p-dropdown>
      </div>
      <div class="mx-[2.24rem] my-[2.25rem] sm: mx-[10rem]">
        <button
          type="submit"
          class="gap-2 h-[2.50rem] w-[8rem] bg-gray-900 text-white rounded-md outline-none transition-all focus:scale-110 hover:scale-110 active:scale-105 hover:bg-gray-950 disabled:scale-100 disabled:bg-opacity-65"
        >
          Add
        </button>
      </div>
    </form>
  </div>
} @else {
  <section
    class="relative mt-[3rem] w-full flex flex-row justify-center items-center flex-wrap"
  >
    <div class="w-full h-1/2 border border-black flex flex-col">
      <h2>Dont Have a portfolio ? Create one</h2>
      <app-portfolio></app-portfolio>
    </div>
  </section>
}

<div class="flex flex-wrap w-full">
  <p-table [value]="products" styleClass="p-datatable-striped" class="w-full">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <section class="mt-[3.25rem] flex flex-row justify-between">
  <p-card header="Title">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
  </p-card>

  <p-card header="Title">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
  </p-card>
</section> -->

<!-- <div
  class="w-full h-[15rem] flex justify-center items-center relative top-[5rem]"
>
  

  
<div class="card w-full flex flex-row justify-center items-center">
  <p-panel header="Header" [toggleable]="true" class="w-[50rem]">
    <p-table [value]="options" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="w-[10rem]"><p>1</p></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<div class="card w-full flex flex-row justify-center items-center">
  <p-panel header="Header" [toggleable]="true" class="w-[50rem]">
    <p-table [value]="options" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="w-[10rem]"><p>1</p></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div> -->
