<app-header></app-header>

@if (loading) {
  <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
  <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
  <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
  <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
  <p-skeleton width="10rem" height="4rem" borderRadius="16px"></p-skeleton>
} @else {
  @if (portfolio$ | async; as portfolio) {
    <h1>My portfolio</h1>
    <h2>{{ portfolio.name }}</h2>
    <p>{{ portfolio.userEmail }}</p>
    <p>{{ portfolio.totalValue.toFixed(3) }} $</p>
  } @else {
    @defer (on timer(1s)) {
      <h1>hmmmm it seems that you dont have a portfolio , create one !!</h1>
      <p-button
        (click)="showForm()"
        icon="pi pi-plus"
        label="Create new form"
        iconPos="right"
        [rounded]="true"
        [raised]="true"
        class="transition-all focus:scale-110 hover:scale-110 active:scale-105"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="portfolioVisible"
        [style]="{ width: '50vw' }"
        [closable]="true"
        [modal]="true"
      >
        <app-portfolio></app-portfolio>
      </p-dialog>
    }
  }

  <!-- <section
    class="relative mt-[3rem] w-full flex flex-row justify-center flex-wrap"
    [@fadeAnimation]
  >
    <app-card title="test" content="200$"></app-card>
  
    <app-card title="test" content="200$"></app-card>
  
    <app-card title="test" content="200$"></app-card>
  
    <app-card title="test" content="200$"></app-card>
  </section> -->

  <!-- <div class="mx-[2.24rem] my-[2.25rem] sm: mx-[10rem]">
    <button
      type="submit"
      class="gap-2 h-[2.50rem] w-[8rem] bg-gray-900 text-white rounded-md outline-none transition-all focus:scale-110 hover:scale-110 active:scale-105 hover:bg-gray-950 disabled:scale-100 disabled:bg-opacity-65"
    >
      Add
    </button>
  </div> -->
  <p-button
    (click)="showDialog()"
    icon="pi pi-spin pi-bitcoin"
    label="Add Transaction"
    iconPos="right"
    [rounded]="true"
    [raised]="true"
    class="transition-all focus:scale-110 hover:scale-110 active:scale-105"
  >
  </p-button>

  <p-dialog [(visible)]="visible" [modal]="true" class="w-full sm:w-[50rem]">
    <ng-template pTemplate="headless">
      <div class="bg-white overflow-auto">
        <app-wizard (complete)="hideDialog()"></app-wizard>
      </div>

      <p-button (onClick)="hideDialog()"></p-button>
    </ng-template>
  </p-dialog>
  <p-button (click)="fetchData()"> </p-button>
}
