<div class="w-full flex flex-row justify-center items-center mt-10">
  <div class="flex h-full w-full">
    @if (asset$ | async; as assets) {
      <p-table
        styleClass="p-datatable-striped p-datatable-sm "
        class="w-full"
        [value]="assets"
      >
        <ng-template pTemplate="header">
          <tr class="space-x-5">
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Price</th>
            <th pSortableColumn="totalQuantity">
              Holding <p-sortIcon field="totalQuantity"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-asset>
          <tr>
            <td>
              <div class="flex flex-row">
                <span>
                  <img
                    ngSrc="https://s2.coinmarketcap.com/static/img/coins/32x32/{{
                      asset.coinId
                    }}.png"
                    width="32"
                    height="32"
                    class="mr-2"
                  />
                </span>
                <span>
                  {{ asset.name }}
                </span>
              </div>
            </td>
            <td>{{ asset.price }}</td>
            <td>{{ asset.totalQuantity }}</td>
            <td>
              <p-button
                icon="pi pi-plus"
                (onClick)="showDialog(asset.coinId)"
                [raised]="true"
                [rounded]="true"
                [text]="true"
                [outlined]="true"
                size="small"
              >
              </p-button>

              <p-button
                severity="secondary"
                icon="pi pi-ellipsis-h"
                [raised]="true"
                [rounded]="true"
                [text]="true"
                [outlined]="true"
                size="small"
              >
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </div>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ overflow: 'auto' }"
  class="w-full sm:w-[50rem] overflow-auto"
>
  <ng-template pTemplate="headless">
    <div
      class="bg-white sm:w-[30rem] w-full border border-black rounded-lg p-10"
    >
      <app-transaction-form
        [coinID]="coinID"
        (completedSubmission)="handleFormCompletion()"
      ></app-transaction-form>
    </div>
  </ng-template>
</p-dialog>
