<div class="min-h-screen bg-gray-100 justify-center items-center flex flex-col">
  <div
    class="bg-white shadow-lg border rounded-md px-8 py-8 sm:px-12 sm:py-10 lg:px-16 lg:py-12 max-w-md w-full z-50"
  >
    <h2 class="text-2xl font-semibold text-center mb-6">Reset Your Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="handleSubmit()">
      <div class="mb-4">
        <label for="email" class="block mb-2">Email</label>
        <input
          pInputText
          id="email"
          class="shadow w-full text-gray-700"
          placeholder="Enter your Email"
          formControlName="email"
        />
        @if (email?.errors?.["required"] && email?.touched) {
          <small id="email-help" class="p-error px-1">Email is required.</small>
        }
        @if (email?.errors?.["email"] && email?.touched) {
          <small id="email-help" class="p-error px-1">Email not valid</small>
        }
      </div>

      <div class="flex items-center justify-center space-y-2">
        <p-button
          label="Submit"
          icon="pi pi-user"
          type="submit"
          [rounded]="true"
          [disabled]="resetForm.invalid"
        ></p-button>
        <p-toast></p-toast>
      </div>
    </form>
  </div>
</div>
