<div class="min-h-screen bg-gray-100 flex justify-center items-center">
  <div
    class="bg-white shadow-lg border rounded-md px-8 py-8 sm:px-12 sm:py-10 lg:px-16 lg:py-12 max-w-md w-full z-50"
  >
    <h2 class="text-2xl font-semibold text-center mb-6">Sign Up</h2>
    <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
      <div class="mb-4">
        <label for=" First Name" class="block text-gray-700 font-bold mb-2"
          >First Name</label
        >
        <input
          type="text"
          id="fname"
          name="name"
          placeholder="Your First Name"
          formControlName="firstName"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4">
        <label for=" Last Name" class="block text-gray-700 font-bold mb-2"
          >Last Name</label
        >
        <input
          type="text"
          id="lname"
          name="name"
          placeholder="Your Last Name"
          formControlName="lastName"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-bold mb-2"
          >Email Address</label
        >
        <input
          type="email"
          id="email"
          name="email"
          placeholder="you@example.com"
          formControlName="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-bold mb-2"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          placeholder="********"
          formControlName="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          type="submit "
          [disabled]="!profileForm.valid"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          [class.bg-gray-50]="!profileForm.valid"
        >
          Sign Up
        </button>
        <a
          href="#"
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
          >Already have an account?</a
        >

        <p-button label="Submit" type="submit "></p-button>
      </div>
    </form>
  </div>
</div>
